:root{
    --primary:#5b1b70;
    --accent:#e2007a;
    --bg:#f4f6f9;
    --white:#ffffff;
    --success:#22c55e;
    --warning:#f59e0b;
    --danger:#ef4444;
    --text:#1f2937;
    --muted:#64748b;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:var(--bg);
    color:var(--text);
}

/* SIDEBAR */

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:250px;
    height:100vh;
    background:var(--primary);
    color:white;
    display:flex;
    flex-direction:column;
}

.logo{
    padding:25px;
    font-size:30px;
    font-weight:700;
    border-bottom:1px solid rgba(255,255,255,.1);
}

.logo span{
    color:var(--accent);
}

.menu{
    margin-top:20px;
}

.menu a{
    display:flex;
    align-items:center;
    gap:12px;
    color:white;
    text-decoration:none;
    padding:16px 25px;
    transition:.25s;
}

.menu a:hover{
    background:rgba(255,255,255,.10);
}

.menu i{
    width:22px;
}

/* CONTENT */

.main{
    margin-left:250px;
    padding:30px;
}

.header{
    background:white;
    border-radius:18px;
    padding:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.header h1{
    color:var(--primary);
    font-size:42px;
    font-weight:700;
}

.header p{
    color:var(--muted);
    margin-top:4px;
}

.region{
    background:var(--primary);
    color:white;
    padding:10px 18px;
    border-radius:25px;
    font-weight:600;
}

/* FILTROS */

.filters{
    background:white;
    padding:20px;
    border-radius:18px;
    margin-bottom:25px;

    display:grid;
    grid-template-columns:1fr 220px;
    gap:15px;
}

.filters input{
    border:1px solid #d1d5db;
    padding:12px;
    border-radius:10px;
}

.filters button{
    border:none;
    border-radius:10px;
    background:var(--accent);
    color:white;
    cursor:pointer;
    font-weight:600;
}

/* KPIS */

.kpis{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:20px;

    margin-bottom:25px;
}

.kpi{
    background:white;
    border-radius:18px;
    padding:25px;
    border-bottom:4px solid var(--primary);

    box-shadow:
    0 4px 12px rgba(0,0,0,.05);
}

.kpi h3{
    color:var(--muted);
    font-size:14px;
    margin-bottom:10px;
}

.kpi h2{
    font-size:40px;
    font-weight:700;
}

.kpi.green{
    border-bottom-color:var(--success);
}

.kpi.yellow{
    border-bottom-color:var(--warning);
}

.kpi.pink{
    border-bottom-color:var(--accent);
}

/* LAYOUT */

.layout{
    display:grid;
    grid-template-columns:360px 1fr;
    gap:20px;
}

/* CARDS */

.card{
    background:white;
    border-radius:18px;
    padding:25px;

    box-shadow:
    0 4px 12px rgba(0,0,0,.05);
}

.card h2{
    color:var(--primary);
    margin-bottom:20px;
}
